.bottom-bar {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    height: 56px;
    bottom: 0;
    text-align: center;
}

.message-box-form {
    display: flex;
    justify-content: center;
}

.message-box {
    border-radius: 16px;
    padding: 4px 16px;
    margin: 7px;
    border: 1px solid #00b7ff;
    width: 50%;
    height: 32px;
    position: relative;
    font-size: 18px;
}

.message-box:focus {
    outline: none;
}

.message-button {
    color: #00b7ff;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    margin: 7px;
    text-align: center;
}

.message-button:hover {
    cursor: pointer;
    background-color: #eceff1;
}