.message-preview {
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    width: 150px;
    padding-left: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selected {
    border-radius: 8px;
    background-color: #ededed;
}

.read {
    color: #7d7d7d;
}

.unread {
    font-weight: bold;
    color: black;
}